@import "_variables";
@import "_mixins";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: "OpenSans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  display: block;
  cursor: pointer;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: $colorGrey;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
}
.section {
  padding-top: 70px;
}

.site-tooltip {
  position: absolute;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  padding: 7px 15px;
  color: $colorWhite;
  background-color: $colorBlack;
}

.site-tooltip::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%);
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  background-color: $colorBlack;
}

//убрать крестик у инпута
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//убрать стрелки от номера у инпута

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

//hover
@media (min-width: 1024px) {
}

//active, focus
