@import "_variables";
@import "_mixins";

.clients {
  padding-top: 94px;
  &-container {
    background-color: $colorBackground;
    padding-left: 90px;
    padding-right: 90px;
  }
  &__title {

    padding-top: 40px;
  }
  &__table {
    margin-bottom: 40px;
    width: 100%;
  }
  &__table-title {
    margin-top: 40px;
    margin-bottom: 29px;
    text-align: start;
    font-size: 24px;
    line-height: 32px;
    color: $colorBlack;
    font-weight: 700;
  }
  &__table-th {
    padding-left: 20px;
    padding-bottom: 8px;
    text-align: start;
    font-size: 12px;
    line-height: 16px;
    color: $colorGreyText;
    font-weight: 400;
    cursor: pointer;
  }
  &__table-th:first-child {
    color: $colorFirm
  }
  &__table-td {
    padding: 20px;
    font-size: 14px;
    color: $colorBlack;
  }
  &__table-td-id,
  &__table-td-time {
    color: $colorGreyText;
  }
  &__table-icon-svg {
    width: 16px;
    height: 16px;
    color: $colorFirm;
    transition: all .3s ease-in-out;
  }
  &__tbody {
    background-color: $colorWhite;
    height: 60px;
  }
  &__table-svg {
    width: 12px;
    height: 12px;
    color: $colorFirm;
  }
  &__table-edit-svg {
    width: 16px;
    height: 16px;
    color: $colorFirm;
  }
  &__table-cancel-svg {
    width: 16px;
    height: 16px;
    color: $colorRed;
  }
  &__add {
    text-align: center;
    padding-bottom: 50px;
  }
  &__add-btn {
    padding: 14px 26px;
    line-height: 19px;
    font-weight: 600;
    color: $colorFirm;
    border: 1px solid $colorFirm;
    transition: all 0.3s ease-in-out;
  }
  &__add-btn-svg {
    width: 22px;
    height: 16px;
    color: $colorFirm;
    transition: all 0.3s ease-in-out;
  }
}

.modal {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  &__content {
    position: relative;
    background-color: $colorWhite;
    margin: 20% auto;
    padding: 24px 30px;
    width: 450px;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: $colorGreyText;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    cursor: pointer;
  }
  &__content-title {
    text-align: start;
    margin-bottom: 32px;
  }
  &__form-input {
    margin-bottom: 32px;
    width: 100%;
    max-width: 390px;
    font-size: 14px;
    line-height: 19px;
    border: 0;
    border-bottom: 1px solid $colorGrey;
    transition: all 0.3s ease-in-out;
  }
  &__form-input::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: $colorGrey;
  }

  &__add-contact-item {
    display: flex;
  }
  &__add-contact-input {
    padding-left: 12px;
    width: 100%;
    height: 37px;
    background-color: $colorWhite;
    border: 0;
    border: 1px solid $colorGrey;
    transition: all 0.3s ease-in-out;
  }
  &__add-contact-input::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: $colorGrey;
  }

  &__add-contact-close {
    padding: 0 8px;
    background-color: $colorBackgroundGrey;
    border: 1px solid $colorGrey;
    transition: all 0.3s ease-in-out;
  }

  &__add-btn-svg-close {
    width: 12px;
    height: 12px;
    color: $colorFirm;
    transition: all 0.3s ease-in-out;
  }

  &__add-btn {
    margin-top: 25px;
    font-family: "Open Sans", sans-serif;
    transition: all .3s ease-in-out;
  }

  &__add-btn-contact {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    color: $colorFirm;
    transition: all .3s ease-in-out;
  }
  &__save {
    margin-top: 25px;
    padding: 12px 35px;
    font-size: 14px;
    font-weight: 600;
    color: $colorWhite;
    background-color: $colorFirm;
    transition: all .3s ease-in-out;
  }
}

.modal-select {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 123px;
  .is-active &__body {
    display: block;
  }
  .is-active &__icon-svg {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
  }
  &__header {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $colorGrey;
    background-color: $colorBackgroundGrey;
    transition: all 0.3s ease-in-out;
  }
  &__header &__current,
  &__header &__icon-svg {
    transition: all 0.3s ease-in-out;
  }
  &__current {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 19px;
    margin-right: 5px;
    color: $colorBlack;
  }
  &__icon-svg {
    color: $colorFirm;
    width: 13px;
    height: 8px;
  }
  &__body {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid $colorGrey;
    background-color: $colorBackgroundGreyLight;
    border-top: 0;
    z-index: 1;
  }
  &__item {
    line-height: 19px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  &__item:hover {
    background-color: $colorBackgroundGrey;
  }
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

//hover
@media (min-width: 1024px) {
  .clients {
    &__add-btn:hover {
      color: $colorFirmHover;
      border: 1px solid $colorFirmHover;
    }
    &__add-btn:hover &__add-btn-svg {
      color: $colorFirmHover;
    }
    &__table-btn:hover &__table-icon-svg {
      color: $colorFirmHover;
    }
  }
  .modal {
    &__add-contact-close:hover {
      border: 1px solid $colorFirmHover;
    }
    &__add-contact-close:hover &__add-btn-svg-close {
      color: $colorFirmHover;
    }
    &__add-contact-input:hover {
      border: 1px solid $colorFirmHover;
    }
    &__form-input:hover {
      border-bottom: 1px solid $colorFirmHover;
    }
    &__add-btn:hover {
      color: $colorFirmHover;
    }
    &__add-btn:hover &__add-btn-contact {
      color: $colorFirmHover;
    }
    &__save:hover {
      background-color: $colorFirmHover;
    }
  }
  .modal-select {
    &__header:hover {
      border: 1px solid $colorFirmHover;
    }
  }
}

//active, focus-visible
.clients {
  &__add-btn:active {
    color: $colorFirmActive;
    border: 1px solid $colorFirmActive;
  }
  &__add-btn:active &__add-btn-svg {
    color: $colorFirmActive;
  }
  &__add-btn:focus-visible {
    color: $colorFirmActive;
    outline: 0;
    border: 1px solid $colorFirmActive;
  }
  &__add-btn:focus-visible &__add-btn-svg {
    color: $colorFirmActive;
  }
}

.modal {
  &__add-contact-close:focus-visible,
  &__add-contact-input:focus-visible {
    outline: none;
    border: 1px solid $colorFirmActive;
  }
  &__add-contact-close:focus-visible &__add-btn-svg-close,
  &__add-contact-close:active &__add-btn-svg-close {
    color: $colorFirmActive;
  }
  &__add-contact-input:active {
    border: 1px solid $colorFirmActive;
  }
  &__form-input:active {
    border-bottom: 1px solid $colorFirmActive;
  }
  &__form-input:focus-visible {
    border-bottom: 1px solid $colorFirmActive;
    outline: none;
  }
  &__add-btn:active {
    color: $colorFirmActive;
  }
  &__add-btn:active &__add-btn-contact {
    color: $colorWhite;
    background-color: $colorFirmActive;
    border-radius: 50%;
  }
  &__add-btn:focus-visible {
    color: $colorFirmActive;
    outline: none;
  }
  &__add-btn:focus-visible &__add-btn-contact {
    color: $colorWhite;
    background-color: $colorFirmActive;
    border-radius: 50%;
  }
  &__save:active {
    background-color: $colorFirmActive;
  }
  &__save:focus-visible {
    background-color: $colorFirmActive;
    outline: none;
  }
}

.modal-select {
  &__header:active {
    border: 1px solid $colorFirmActive;
  }

  &__header:focus-visible {
    border: 1px solid $colorFirmActive;
  }
}
