$colorBlack: #333;
$colorWhite: #FFF;
$colorGreen: #34C759;
$colorOrange: #E6B127;
$colorRed: #F06A4D;
$colorFirm: #9873FF;
$colorFirmHover: #B89EFF;
$colorFirmActive: #8052FF;
$colorGrey: #C8C5D1;
$colorGreyText: #B0B0B0;
$colorBackground: #F5F5F5;
$colorBackgroundGrey: #E7E5EB;
$colorBackgroundGreyLight: #F4F3F6;




