$colorBlack: #333;
$colorWhite: #FFF;
$colorGrey: #B0B0B0;
$colorGreyBg: #C8C5D1;

$colorGreyLight: #E7E5EB;
$colorGreySelect: #F4F3F6;
$colorFirm: #9873FF;
$colorFirmHover: #B89EFF;
$colorRed: #F06A4D;














